
/* ---------------------------- Style to GERAL style ----------------------------*/

body {
    background-color: #fff;
}

/* ---------------------------- Style to HERO Section ----------------------------*/
.site-heading {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.site-heading h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.site-heading img {
    background-repeat: no-repeat;
}

.col-md-5 img {
    width: 100%;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.yellow-u {
    color: yellow;
}

.green-l {
    color: green;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #152e49;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: green;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.linebreaks {
    border-top: #fff solid;
}

.product-item {
    @media (min-width: 992px) {
        .product-item-title {
            position: relative;
            z-index: 1;
            margin-bottom: -3rem;
        }

        .product-item-img {
            position: relative;
            z-index: 0;
            max-width: 60vw;
        }

        .product-item-description {
            position: relative;
            z-index: 1;
            margin-top: -3rem;
            max-width: 50vw;
        }
    }
}

/* ---------------------------- Style to FOOTER ----------------------------*/

footer > a {
    text-decoration: none;
    color: #fff;
}

/* ---------------------------- Style to ERROR PAGES ----------------------------*/

body{margin-top:20px;}
.cover-background {
    position: relative !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.p-0 {
    padding: 0!important;
}
section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.error-page {
    background-color: #BABABA4A;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(15px);
    border: 1px solid #fff;
    padding: 80px 20px;
}
.text-center {
    text-align: center!important;
    color: #fff!important;
}
.error-page h1 {
    font-size: 200px;
    line-height: 1;
    font-weight: 600;
    color: #fff!important;
}

.text-secondary {
    color: #fff !important;
    font-size: 200px!important;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}