{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-12">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top"
                            src="https://images.pexels.com/photos/4033165/pexels-photo-4033165.jpeg" alt="{{ post.title }}">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="recipe_default_image">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form action="{% url 'post_like' post.slug %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="like_btn_id" value="{{ post.slug }}" class="btn-like">
                                    <i class="fa-regular fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="like_btn_id" value="{{ post.slug }}" class="btn-like">
                                    <i class="fa-solid fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="fa-regular fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-12">
                <h1 class="card-title">{{ post.title }}</h1>
                <hr>
                <h2>Ingredients:</h2>
                <p class="card-text">{{ post.ingredients_content | safe }}</p>
                <h2>Method:</h2>
                <p class="card-text">{{ post.method_content | safe  }}</p>
                <a class="btn btn-info mb-3" href="{% url 'home' %}"><i class="fa-solid fa-backward"></i> Back to Home Page</a>
            </div>
        </div>
    </div>
</div>
<div class="linebreaks"></div>
<!-- Displaying Comments -->
<div class="row dark-bg">
    <div class="col-md-8 card mb-4 text-white mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
            {% for comment in comments %}
            <div
                class="p-2 comments{% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                <p class="font-weight-bold text-white">
                    {{ comment.author }}
                    <span class="font-weight-normal text-white">
                        {{ comment.created_on }}
                    </span class="text-white"> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                    {{ comment.body | linebreaks }}
                </div>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">This comment is awaiting approval</p>
                {% endif %}
                {% if user.is_authenticated and comment.author == user %}
                <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                {% endif %}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3 class="text-white">Leave a comment:</h3>
            <p class="text-white">Posting as: {{ user.username }}</p>
            <form id="commentForm" method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
            <p class="text-white">Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
</div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete your comment? This action cannot be undone.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}