
/* ---------------------------- Style to GERAL style ----------------------------*/

body {
    background-color: #fff;
    max-width: 100%;
    overflow-x: hidden;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    --bs-gutter-x: 0 !important;
}

/* ---------------------------- Style to HERO Section ----------------------------*/
.site-heading {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.site-heading h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.site-heading img {
    background-repeat: no-repeat;
}

.col-md-5 img {
    width: 100%;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.yellow-u {
    color: yellow;
}

.green-l {
    color: green;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #152e49;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    background-size: cover;
    z-index: 1;
}

.masthead-text {
    color: #fff;
    position: relative;
    z-index: 2;
}

header .masthead .page-heading,
header .masthead .post-heading,
header .masthead .site-heading {
    padding: 200px 0 150px;
    color: #A58354;
}

@media only screen and (min-width:768px) {

    header .masthead .page-heading,
    header .masthead .post-heading,
    header .masthead .site-heading {
        padding: 200px 0;
    }
}

header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

header .masthead .page-heading .subheading,
header .masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    color: black;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width:768px) {

    header .masthead .page-heading h1,
    header .masthead .site-heading h1 {
        font-size: 80px;
    }
}

header .masthead .post-heading h1 {
    font-size: 35px;
}

header .masthead .post-heading .meta,
header .masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
}

header .masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header .masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: Lora, 'Times New Roman', serif;
}

header .masthead .post-heading .meta a {
    color: #fff;
}

@media only screen and (min-width:768px) {
    header .masthead .post-heading h1 {
        font-size: 55px;
    }

    header .masthead .post-heading .subheading {
        font-size: 30px;
    }
}

/* ---------------------------- Style to RECIPES PAGE ----------------------------*/

.card-img-top {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: green;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181 !important;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610 !important;
    border: none;
    background: transparent !important;
}

.btn-delete {
    color: #fff;
    background: #E84610 !important;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent !important;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.linebreaks {
    border-top: #fff solid;
}

/* ---------------------------- Style to INDEX PAGE ----------------------------*/

.product-item {
    @media (min-width: 992px) {

        .product-item-title {
            position: relative;
            z-index: 1;
        }

        .product-item-img {
            position: relative;
            z-index: 0;
            max-width: 60vw;
        }

        .product-item-description {
            position: relative;
            z-index: 1;
            max-width: 50vw;
        }
    }
}

.page-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.section-heading {
    text-transform: uppercase;
}
    
.section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
}


.bg-faded {
    background-color: lighten(#e6a756, 25%);
}

/* ---------------------------- Style to FOOTER ----------------------------*/

footer > a {
    text-decoration: none;
    color: black;
}

footer .fa-solid, .fas {
    /* font-weight: 900; */
    color: #fff;
    font-size: 20px;
}

/* ---------------------------- Style to ERROR PAGES ----------------------------*/

body{margin-top:20px;}

.cover-background {
    position: relative !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.p-0 {
    padding: 0!important;
}
section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.error-page {
    background-color: #BABABA4A;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(15px);
    border: 1px solid #fff;
    padding: 80px 20px;
}
.text-center {
    text-align: center!important;
    color: #fff!important;
}
.error-page h1 {
    font-size: 200px;
    line-height: 1;
    font-weight: 600;
    color: #fff!important;
}

.text-secondary-2 {
    color: #fff !important;
    font-size: 25px;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}